<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Characters</title>

    <!-- style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character.css') }}">
</head>
<body>

    <header class="top-bar">
        <a href="main.html">← Back</a>
        <h2>Characters</h2>
    </header>

    <main>
        <p>List of all characters.</p>

        <!-- placeholder -->
        <div class="character-card owned">
            Seele (owned)
        </div>

        <div class="character-card">
            Bronya
        </div>
    </main>

    <script src="{{ url_for('static', filename='scripts/characters.js') }}"></script>

</body>
</html>
