<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Characters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">   <!-- icon -->
    
    <!-- Characters style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/characters.css') }}">
</head>
<body>

    <header class="top-bar">
        <h2>Characters</h2>
        <button class="back-btn" onclick="goBack()">Back</button>
    </header>

    <section class="characters-toolbar">

        <input type="text"
               id="searchInput"
               placeholder="Search character...">

        <button id="filterToggle">Filters</button>

        <div id="filtersPanel" class="filters-panel hidden">

            <select id="filterPath">
                <option value="" disabled selected>Path</option>
                <option>Hunt</option>
                <option>Destruction</option>
                <option>Erudition</option>
                <option>Remembrance</option>
                <option>Nihility</option>
                <option>Harmony</option>
                <option>Preservation</option>
                <option>Abundance</option>
            </select>

            <select id="filterRole">
                <option value="" disabled selected>Role</option>
                <option>DPS</option>
                <option>Support</option>
                <option>Sustain</option>
            </select>

            <select id="filterElement">
                <option value="" disabled selected>Element</option>
                <option>Lightning</option>
                <option>Fire</option>
                <option>Wind</option>
                <option>Quantum</option>
                <option>Physical</option>
                <option>Imaginary</option>
                <option>Ice</option>
            </select>

        </div>
    </section>

    <!-- CHARACTERS -->
    <main class="characters-container" id="charactersContainer">

    </main>

    <!-- JS -->
    <script src="{{ url_for('static', filename='scripts/characters.js') }}"></script>

</body>
</html>
